/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.logo {
  width: 2.5em;
  height: 2.5em;
  margin-left: 10px;
  color: red;
}

.post {
  margin-top: 10px;

  -webkit-box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.5);
}

.image-slide {
  width: 100%;
  height: 250px;

  // background-color: red;

  /* Full height */
  // height: 100%;

  /* Imagen centrada y colocada de forma elegante */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainSlide,
.mainSlide ion-slide {
  width: 100%;
  height: 100%;
}

img {
  width: 120px;
}

.pick-avatar {
  width: 80px;
  opacity: 0.3;
}

.pick-avatar-seleccionado {
  transition: opacity 0.5s linear;
  opacity: 1 !important;
}

.img-login {
  width: 150px !important;
  height: 150px !important;
}

.i150 {
  width: 150px;
  height: 150px;
}
